<h1>Listing my_classes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_classes.each do |my_class| %>
      <tr>
        <td><%= link_to 'Show', my_class %></td>
        <td><%= link_to 'Edit', edit_my_class_path(my_class) %></td>
        <td><%= link_to 'Destroy', my_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My class', new_my_class_path %>
